.Root {
    display: grid;
    grid-template-areas:
        "header"
        "body";
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    //min-width: 100vw;
    max-height: 100vh;
    max-width: 100vw;

    .header {
        grid-area: header;
    }

    .outlet {
        grid-area: body;
    }
}
