* {
    box-sizing: border-box;
}

.Root {
    display: grid;
    grid-template-areas:
        "header"
        "body";
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    min-width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    text-align: center;

}

.header {
    grid-area: header;
    background-color: yellow;
}

.outlet {
    grid-area: body;
    background-color: green;
}

