@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Permanent+Marker&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


// Global Rules

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  font: {
    family: 'Cabin', sans-serif;
    size: 1.6rem;
  }

  text-align: center;
  line-height: 1.5;

  color: white;
  background: linear-gradient(0deg, hsl(313, 100%, 20%) 1%, black 30%);
  background-attachment: fixed;

  @media (min-width: 800px),
  (orientation: portrait) and (min-width: 390px) {
    font-size: 2rem;
  }

}


// Active NavLinks

.activeNavLink {
  animation: active 5s ease-in-out infinite;
}


.inactiveNavLink {
  text-shadow: 0 rgba(255, 255, 255, 0);
}

@keyframes active {

  0% {
    text-shadow: 0 0 3px rgba(255, 255, 255, 0),
      0 0 6px rgba(255, 255, 255, 0),
      0 0 9px rgba(255, 255, 255, 0),
      0 0 12px rgba(255, 255, 255, 0),
      0 0 15px rgba(255, 255, 255, 0);
  }

  60% {
    text-shadow: 0 0 3px rgba(255, 255, 255, 1),
      0 0 6px rgba(255, 255, 255, 0.8),
      0 0 9px rgba(255, 255, 255, 0.6),
      0 0 12px rgba(255, 255, 255, 0.4),
      0 0 15px rgba(255, 255, 255, 0.2);
  }

  100% {
    text-shadow: 0 0 3px rgba(255, 255, 255, 0),
      0 0 6px rgba(255, 255, 255, 0),
      0 0 9px rgba(255, 255, 255, 0),
      0 0 12px rgba(255, 255, 255, 0),
      0 0 15px rgba(255, 255, 255, 0);
  }
}
